{
    "extends": "airbnb",
    "env": {
    "node": true,
    "es6": true,
    "browser": true
    },
    "rules": {
        "linebreak-style": ["error", "windows"],
        "indent": ["error", 4],
        "eqeqeq": [0, "smart"],
        "max-len": ["error", { "code": 330 }],
        "eol-last": ["error", "never"],
        "default-case": 0    }
}